* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryFont: "Lobster", sans-serif;
  --textFont: "Chakra Petch", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("image/place-bourse-bordeaux.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#firstContainer img {
  width: 200px;
  height: 250px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  background-color: #6c0433;
  color: whitesmoke;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

button:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: stretch;
  text-align: center;
}

button:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
}

button:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

button:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

button:hover {
  background-color: #07376a;
}

#firstContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: solid 2px #6c0433;
  border-radius: 10px;
  /* Ajout d'une hauteur pour garantir l'affichage correct */
  width: 80%;
  margin-right: 5%;
  font-family: var(--textFont);
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

#description {
  font-size: 20px;
  color: black;
  border: solid 2px #6c0433;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 2px 2px 2px #6c0433;
  overflow-wrap: break-word;
  margin-top: 30px;
}
.question {
  font-size: 2rem;
  margin-bottom: 2rem;
  height: auto;
  width: auto;
}

.answer-button {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #6c0433;
  color: rgb(255, 222, 222);
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  width: 100%;
  height: auto;
}

#answerButtons {
  font-family: var(--textFont);
  display: grid;
  grid-template-rows: 4rem 2rem 4rem;
  grid-template-columns: 6rem 2rem 6rem;
  gap: 20px;
  align-items: center;
}

.answer-button:hover {
  background-color: #07376a;
}
@keyframes showFeedback {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.feedback-message {
  position: fixed;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: white;
  padding: 20px;
  margin-right: 100px;
  border-radius: 10px;
  z-index: 999;
  opacity: 0;
  animation: showFeedback 3s ease forwards;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

#recapContainer {
  display: none; /* Assurez-vous qu'il soit caché par défaut */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: #6c0433;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
}

#restartButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: #6c0433;
  color: rgb(255, 222, 222);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#restartButton:hover {
  background-color: #07376a;
}

.inputName {
  height: 10%;
  width: 50%;
  border-radius: 10px;
  border: 0px solid;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

#timer {
  width: 60px;
  height: 60px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  border: 1px solid;
  border-radius: 50%;
}

section img {
  width: 20%;
}

@media screen and (max-width: 500px) {
  #answerButtons {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 500px) {
  #firstContainer img {
    width: 280px;
    height: 300px;
  }
  .answer-button {
    height: auto;
    width: auto;
  }
}
